<div class="inputExplanation" id="iE1">
	<h2>How many columns appear on your ballot?</h2>
</div>

<%= render layout: 'form' do |f| %>

<div id="<%= params[:id] %>_fields">
	
  <div class="field">
		<%= f.select :ballot_columns, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6]], :autofocus => "autofocus" %>
  </div>

</div>
	
<% end %>
