<div class="inputExplanation" id="iE1">
	<h2>Find a link to a copy of your ballot online and put the url for that ballot here:</h2>
</div>

<%= render layout: 'form' do |f| %>

	<div class="field">
    <%= f.text_field :officialBallot, :autofocus => "autofocus" %>
  </div>
	
<% end %>
