<h2>To work through your ballot in this process, you're going to want to be able to look at an official copy of the ballot you'll be voting.</h2>

<h2>Find a link to a copy of your ballot online and put the url for that ballot here:</h2>

<%= render layout: 'form' do |f| %>

  <div class="field">
    <%= f.text_field :officialBallot %>
  </div>
	
<% end %>
