body {
	background-color: #fff6d5;//#FFEEB3;
	margin: 0;
}
input[type="checkbox"].abraCadabra {margin:100px;}
a:visited { color: black; }
a:visited:hover { background-color: black; color: white; }
a.bigButton {
	background-color: #A3B6DE; 
	border: none; 
	width: 300px; 
	padding: 30px; 
	font-size: 32px; 
	line-height: 38px;
	text-align: center; 
	color: black;
	text-decoration: none; 
	display: block; 
	margin: 20px 50px; 
	&:hover {
		border: 1px solid black;
		background-color: #A3B6DE;
		color: black;
	}
}
a.do { 
	float: right;
}
a.makeNew.bigButton {
	margin: 150px auto;
	padding: 60px;
	font-size: 62px;
	line-height: 76px;
	width: 500px;
}
p { font-size: 14px; line-height: 20px; }
#page { width: 100%; }
h1 {
	margin-top: 80px;
	font-size: 60px;
	line-height: 66px;
	font-family: arial;
	font-weight: normal;
}
h2 {
	font-size: 26px;
	line-height: 34px;
	font-weight: normal;
}
.inCase {
	font-size: 10px;
	line-height: 12px;
}
.underline {
	text-decoration:underline;
}
div#topBar {
	background-color: #FFDBB3;
	position: fixed;
	z-index: 5;
	top: 0;
	width: 100%;
	margin-top: 0;
	padding-top: 10px;
}
#voter_nav { position: fixed; bottom: 10px; right: 10px; z-index: 10; width: 150px; word-wrap:break-word; background-color:#DDD; padding: 5px; opacity:0.9; margin:0;}

/*BALLOTS STYLING*/
h1 { text-align: center; }
div { margin: 10px auto 20px; }
input { padding: 10px; font-size: 28px; text-align: center; width: 426px; display: block; margin: 10px auto 5px; }
input#ballot_county { width: 150px; display:inline-block; margin: 10px 10px 5px;}
input#ballot_state { width: 80px; display:inline-block; margin: 10px 10px 5px;}
input#ballot_city { width: 150px; display:inline-block; margin: 10px 10px 5px;}
input#ballot_ward { width: 120px; display:inline-block; margin: 10px 10px 5px;}
input#ballot_precinct { width: 150px; display:inline-block; margin: 10px 10px 5px;}
input[type="checkbox"] { width: 20px; display: inline; margin: 0; }
select { font-size: 52px; border: 0; }
#selectElectionDate { width: 640px; margin-top: 100px; }
button { background-color: #A3B6DE; border: none; width: 450px; padding: 20px; font-size: 32px; display: block; margin: 130px auto 0; }
button:hover { border: 1px solid black; }
button[name=next_choice] { margin: 60px auto 0; }
button[name=next_office] { background-color: #bccae7; margin: 30px auto 0; font-size: 28px; padding: 15px; }
button[name=ballot_review] { position:fixed; top:10px; right:10px; margin:0; width:150px; background-color: #d5def0; font-size: 20px; color:#333; padding: 10px; }

a.newNoteButton {
	background-color: #FFDBB3; 
	border: none; 
	width: 80px; 
	padding: 1px; 
	font-size: 11px; 
	font-weight: normal;
	text-align: center; 
	color: black;
	text-decoration: none; 
	display: inline-block; 
	margin-left: 10px;
	&:hover {
		border: 1px solid black;
		background-color: #FFDBB3;
		color: black;
	}
}
a.newOfficeButton {
	background-color: #BFCDEA; 
	border: none; 
	width: 110px; 
	padding: 10px; 
	font-size: 14px; 
	text-align: center; 
	color: black;
	text-decoration: none; 
	display: block; 
	margin: 80px auto; 
	&:hover {
		border: 1px solid black;
		background-color: #BFCDEA;
		color: black;
	}
}
#ballotChoices {
	width: 90%;
}
#ballot_columns {
	display: table;
	margin: 30px auto;
	width:98%;
}
.ballot_column {
	float: left;
	padding: 0 20px;
	//border-left: 1px solid #b38d00;
	border-right: 1px solid #E1D9BB;
}
#column1 { border-left: 1px solid #E1D9BB; margin-left:5px; }

#ballot_columnSelector {
	width: 474px;
	margin: 0 auto 40px;
}
.columns1 { width: 100%; }
.columns2 { width: 44%; }
.columns3 { width: 28%; }
.columns4 { width: 20%; }
.columns5 { width: 15%; }
.columns6 { width: 11%; }
#ballotInfo {
	text-align: center;
	margin-top: 30px;
}
#ballotsPage {
	text-align: center;
	h1 {
		margin: 120px auto 40px;
		padding: 15px;
	}
	a.goToBallot {
		text-decoration: none;
		font-size: 32px;
		line-height: 40px;
	}
	#belowtopBar {
		margin-top: 260px;
	}
	p {
		font-size: 14px;
		line-height: 20px;
	}
}
#ballot_steps_fields {
	width: 300px;
	.field {
		width: 90px;
		margin: 0 auto;
		select {
			width: 90px;
		}
	}
}
.clear {
	clear: both;
}
.district {
	text-align: center;
	margin-top: 0px;
}
#first_office_name_fields {
	width: 800px;
	.field {
		width: 450px;
		margin: 80px auto 10px;
		p {
			font-size: 16px;
			line-height: 22px;	
		}
	}
	select {
		width: 710px;
		margin: 60px auto 10px;
	}
}
#info {
	margin: 50px;
	a.bigButton {
		float: left;
	}
	ol li {
		font-size: 20px;
		line-height: 30px;
	}
}
.inputExplanation {
	width: 800px;
	margin-bottom: 50px;
}
.inputExplanation#iE1 {
	margin-top: 50px;
}
#login_buttons {
	width: 90%;
}
.notes button {
	margin-top: 30px;
}
.notes a.bigButton {
	margin: 100px auto;
}
#new_note .field p {
	width: 450px;
	margin: 20px auto 10px;
	font-size: 16px;
	line-height: 22px;
}
#new_office .field p {
	width: 450px;
	margin: 20px auto 10px;
	font-size: 16px;
	line-height: 22px;
}
.office {
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 0px;
}
#page {
	margin-bottom: 150px;
}
.politicians {
	.field {
		width: 450px;
		margin: 20px auto 10px;
		p {
			font-size: 16px;
			line-height: 22px;
		}
	}
	a.newCandidateButton {
		background-color: #FFDBB3; 
		border: none; 
		width: 180px; 
		padding: 5px; 
		font-size: 14px; 
		font-weight: normal;
		text-align: center; 
		color: black;
		text-decoration: none; 
		display: inline-block; 
		margin-top: 30px;
		&:hover {
			border: 1px solid black;
			background-color: #FFDBB3;
			color: black;
		}
	}
}
.support_text {
	color: grey;
	font-size: 12px;
}
#where_you_vote_fields {
	width: 700px;
	margin: 0 auto;
	p { display: inline-block; font-size: 26px; margin: 10px 10px 5px; }
}
#ready_for_the_election a.bigButton {
	margin: 40px auto;
}
/*AUTHENTICATION STYLING*/

body.registrations {
	background-color: #A3B6DE;
}
.gettingInPage {
	width: 500px;
	margin: 70px auto;
	a#password { float: right; font-size: 12px; color: grey; }
	a#signup { padding-left: 24px; }
	div { margin: 10px auto 20px; }
	input { padding: 10px; font-size: 28px; text-align: center; width: 450px; display: block; margin: 10px auto 5px; }
	input[type="checkbox"] { width: 20px; display: inline; margin: 0; }
	button { border: none; width: 450px; padding: 20px; font-size: 32px; display: block; margin: 80px auto 0; }
	button:hover { border: 1px solid black; }
	label { font-size: 14px; display: block; width: 450px; margin: 0 auto;}
}
#signInPage {
	button { background-color: #A3B6DE; }
}
#signUpPage {
	button { background-color: #FFEEB3; }
}