body {
	background-color: #FFEEB3;
	margin: 0;
}
a:visited { color: black; }
a:visited:hover { background-color: black; color: white; }
a.bigButton {
	background-color: #A3B6DE; 
	border: none; 
	width: 300px; 
	padding: 30px; 
	font-size: 32px; 
	text-align: center; 
	color: black;
	text-decoration: none; 
	display: block; 
	margin: 20px 50px; 
	&:hover {
		border: 1px solid black;
		background-color: #A3B6DE;
		color: black;
	}
}
a.do { 
	float: right;
}
a.makeNew.bigButton {
	margin: 150px auto;
	padding: 80px;
	font-size: 62px;
	width: 500px;
}
p { font-size: 14px; line-height: 20px; }
#page { width: 100%; }
h1 {
	margin-top: 80px;
	font-size: 60px;
	line-height: 66px;
	font-family: arial;
	font-weight: normal;
}
h2 {
	font-size: 26px;
	line-height: 34px;
	font-weight: normal;
}
.inCase {
	font-size: 10px;
	line-height: 12px;
}
div#topBar {
	background-color: #FFDBB3;
	position: fixed;
	z-index: 5;
	top: 0;
	width: 100%;
}
#voter_nav { position: fixed; bottom: 5px; right: 15px; z-index: 10; }

/*BALLOTS STYLING*/
h1 { text-align: center; }
div { margin: 10px auto 20px; }
input { padding: 10px; font-size: 28px; text-align: center; width: 450px; display: block; margin: 10px auto 5px; }
input#ballot_county { width: 150px; display:inline-block; margin: 10px 10px 5px;}
input#ballot_state { width: 80px; display:inline-block; margin: 10px 10px 5px;}
input#ballot_city { width: 150px; display:inline-block; margin: 10px 10px 5px;}
input#ballot_ward { width: 120px; display:inline-block; margin: 10px 10px 5px;}
input#ballot_precinct { width: 150px; display:inline-block; margin: 10px 10px 5px;}
input[type="checkbox"] { width: 20px; display: inline; margin: 0; }
select { font-size: 52px; border: 0; }
#selectElectionDate { width: 640px; margin-top: 100px; }
button { background-color: #A3B6DE; border: none; width: 450px; padding: 20px; font-size: 32px; display: block; margin: 130px auto 0; }
button:hover { border: 1px solid black; }

a.newNoteButton {
	background-color: #FFDBB3; 
	border: none; 
	width: 80px; 
	padding: 1px; 
	font-size: 11px; 
	font-weight: normal;
	text-align: center; 
	color: black;
	text-decoration: none; 
	display: inline-block; 
	margin-left: 10px;
	&:hover {
		border: 1px solid black;
		background-color: #FFDBB3;
		color: black;
	}
}
a.newOfficeButton {
	background-color: #BFCDEA; 
	border: none; 
	width: 110px; 
	padding: 10px; 
	font-size: 14px; 
	text-align: center; 
	color: black;
	text-decoration: none; 
	display: block; 
	margin: 80px auto; 
	&:hover {
		border: 1px solid black;
		background-color: #BFCDEA;
		color: black;
	}
}
#ballotChoices {
	display: table;
	margin: 30px auto;
}
.ballotColumn {
	float: left;
	padding: 0 15px;
}
.columns1 { width: 100%; }
.columns2 { width: 45%; }
.columns3 { width: 33%; }
.columns4 { width: 25%; }
.columns5 { width: 20%; }
.columns6 { width: 16%; }
#ballotInfo {
	text-align: center;
	margin-top: 30px;
}
#ballotsPage {
	text-align: center;
	h1 {
		margin: 170px auto 40px;
		padding: 15px;
	}
	a.goToBallot {
		text-decoration: none;
		font-size: 32px;
		line-height: 40px;
	}
	p {
		font-size: 14px;
		line-height: 20px;
	}
}
#ballot_steps_fields {
	width: 300px;
	.field {
		width: 90px;
		margin: 0 auto;
		select {
			width: 90px;
		}
	}
}
.district {
	text-align: center;
	margin-top: 0px;
}
.inputExplanation {
	width: 800px;
	margin-bottom: 50px;
}
.inputExplanation#iE1 {
	margin-top: 80px;
}
.office {
	font-weight: bold;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 0px;
}
#where_you_vote_fields {
	width: 700px;
	margin: 0 auto;
	p { display: inline-block; font-size: 26px; margin: 10px 10px 5px; }
}
/*AUTHENTICATION STYLING*/

body.registrations {
	background-color: #A3B6DE;
}
.gettingInPage {
	width: 500px;
	margin: 70px auto;
	a#password { float: right; font-size: 12px; color: grey; }
	a#signup { padding-left: 24px; }
	div { margin: 10px auto 20px; }
	input { padding: 10px; font-size: 28px; text-align: center; width: 450px; display: block; margin: 10px auto 5px; }
	input[type="checkbox"] { width: 20px; display: inline; margin: 0; }
	button { border: none; width: 450px; padding: 20px; font-size: 32px; display: block; margin: 80px auto 0; }
	button:hover { border: 1px solid black; }
	label { font-size: 14px; display: block; width: 450px; margin: 0 auto;}
}
#signInPage {
	button { background-color: #A3B6DE; }
}
#signUpPage {
	button { background-color: #FFEEB3; }
}