<div class="inputExplanation" id="iE1">
	<h1>Well done.</h1>
	<h2>Below is what your ballot will look like.</h2><br>
	<h2 class="underline">The next step is to go thru and check off all of the votes you already know.</h2>
	 <h2 class="underline">Just the easy ones.</h2>
	 <h2>Don't worry about the one's you're not quite certain about, we're gonna do those later.</h2><br>
	<h2>When you're done, click the 'Next' button.</h2>
	
	<%= link_to "Next", undecided_votes_vote_path(@ballot), :class => 'bigButton' %>
	<br>
</div>
<hr>

<%= render 'full_voting_ballot' %>