<div class="inputExplanation" id="iE1">
	<h2>Scroll down and find the place where you left off or where you want to pick back up.</h2>
	<h2>Click the appropriate 'Add a voting option' or 'Add an Office' button to start up again there.</h2>
</div>
<hr>

<%= render 'full_voting_ballot' %>